@media (min-width: 992px) and (max-width:4000px){
#navbarSupportedContent{
    display: block !important;
    flex-basis: auto;
}
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav {
    float: right;
}
}
body{
    font-family: 'Josefin Sans', sans-serif !important;
}
.nav-link{
    font-size: 20px;
}
.nav-item{
    padding: 0px 20px;
}
nav{
    position: fixed !important;
    background-color: white;
    width: 100%;
}
.first-section img{
    margin-top: 80px;
}
.second-section{
    margin: 50px 0px !important;
}
.second-section h2{
   padding-bottom: 40px;
}
.second-section .row .col-md-4 p{
    text-align: center;
    padding: 30px 0px;
}
#projects .col-md-4 img{
   height: 300px;
   object-fit: cover;
}

#header {
    padding: 10px;
    color: rgb(205 92 92);
    font-weight: bold;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    background-color:rgba(209,226,235,0.25);
  }
  #header button {
    background-color:#92a1d1;
    border-color:inherit;
  }

  #weekdays {
    color: #247BA0;
    text-align:center;
    width: 100%;
    display: none;
    justify-content: space-around;
  }
  #weekdays div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    text-align:center;
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  #currentDay {
    color: rgb(205 92 92);
    font-weight: bold;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  .card.newEventModal {
    display: none;
    z-index: 20;
    position: absolute;
    padding: 25px;
    background-color: rgba(209,226,235,1);;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    font-family: sans-serif; 
  }
  .eventTitleInput, .eventTitleInput02 {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  eventTitleInput.error, .eventTitleInput02.error {
    border: 2px solid red;
  }
  #modalBackDrop {
    top: 0px;
    left: 0px;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    display: none;
    z-index: 10;
    position: absolute;
  }
  
  i:not(i.fa-eye) {
    color:white;
  }
  
  ul {
    list-style: hangul-consonant;
    text-align:left;
    margin-left: 0rem;
  }
  nav{
    z-index: 9999 !important;
  }
  .error {
    border: 2px solid red;
  }
  .yelow-box{
    background-color: #e0ca28 !important;
    text-align: center;
    font-size: 30px;
    padding: 140px 0px !important;
  }
  @media (min-width:1024px){
  .carousel-item img{
    height: 600px !important;
    object-fit: cover !important;
  }
}